<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @disease.source %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @disease.severity %>
</p>

<p>
  <strong>Curable:</strong>
  <%= @disease.curable %>
</p>

<%= link_to 'Edit', edit_disease_path(@disease) %> |
<%= link_to 'Back', diseases_path %>
