<head>
  <style>
    table {
      border-collapse: collapse;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }


  </style>
</head>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @animal.gender %>
</p>

<p>
<h3> Diseases </h3>
<table>
  <tr>
    <i>Disease Afflicted</i>
  </tr>
  <%@animal.diseases.each do |disease| %>
  <tr> <td><%= disease.name %></td>
  </tr>
  <% end %>
</table>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
