
<html>
  <head>
    <title>RubyGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="main">
          <div id="header">
              <h1>Veterinarian Application</h1>
              <%= link_to "Animals", animals_path %>
              <%= link_to "Owners", owners_path %>
              <%= link_to "Date of Infection", date_of_infections_path %>
              <%= link_to "Disease", diseases_path %>
      </div>
    <%= yield %>
  </body>
</html>
